//https://www.youtube.com/watch?v=V0O4pY2xX10

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
}

.sidebar header {
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  user-select: none;
  color: #8b9dc3;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  color: #8b9dc3;
  padding-left: 20px;
  //   border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid lightgray;
}

.sidebar ul a :has(:first-child) {
  border-top: 1px solid black;
}

ul li:hover a {
  font-size: 22px;
  color: skyblue;
}
