/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.centertext {
  text-align: center;
  padding-top: 40px;
  font-size: large;
  font-weight: bolder;
}

.clear20 {
  height: 20px;
}

/*-----------Table bottom bottom border and first child border reset-------------*/
.table > :not(caption) > * > * {
  border-bottom-width: 0px !important;
}

.table > :has(:first-child) {
  border-top-color: lightgray !important;
  border-top-width: 1px;
}
