/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.centertext {
  text-align: center;
  padding-top: 40px;
  font-size: large;
  font-weight: bolder;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
